[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
bpython = "*"
django-autoslug = "*"
psycopg2-binary = "*"
djoser = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.10"
